[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.19.5"
opencv-python = "~=4.5.5.62"
matplotlib = "~=3.3.4"

[dev-packages]

[requires]
python_version = "3.6"
